
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNumber</title>
</head>
<body>
    <h2> @ViewBag.sum</h2>
    
</body>
</html>
