@model Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmployeeData</title>
</head>
<body>
    <h3>Employee Data</h3>

    @Model.EmpId<br />
    @Model.EmpName<br />
    @Model.Salary<br />
</body>
</html>
