
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
    <h2>welcome to MVC view</h2>
    <h3> @ViewBag.wish </h3>
</body>
</html>
